<div class="switcher">
  <a href="#" class="link"><i class="icon ion-levels size-32"></i></a>
  <p class="title">Settings</p>
  
  <div class="themeOptions">
    <p>Theme Colors</p>
    <ul class="themeColors optionList">
      <li><a href="#" class="aqua"></a></li>
      <li><a href="#" class="blue"></a></li>
      <li><a href="#" class="brown"></a></li>
      <li><a href="#" class="emerald"></a></li>
      <li><a href="#" class="green"></a></li>
      <li><a href="#" class="orange"></a></li>
      <li><a href="#" class="red"></a></li>
      <li><a href="#" class="violet"></a></li>
      <li><a href="#" class="yellow"></a></li>
    </ul>    

    <p>Header</p>
    <select class="header-style">
      <option value="header-1">Header 1</option>
      <option value="header-2">Header 2</option>
      <option value="header-sticky">Header Sticky</option>
    </select>

    <p>Footer</p>
    <select class="footer-style">
      <option value="footer-1">Footer 1</option>
      <option value="footer-2">Footer 2</option>
    </select>

    <p>Layout</p>
    <select class="themeLayout">
      <option value="wide">wide</option>
      <option value="boxed">boxed</option>
    </select>

    <p>BG Patterns</p>
    <ul class="themePatterns optionList">
      <li><a href="#" class="bg-pattern-cross_scratches"></a></li>
      <li><a href="#" class="bg-pattern-concrete_wall_3"></a></li>
      <li><a href="#" class="bg-pattern-cream_pixels"></a></li>
      <li><a href="#" class="bg-pattern-debut_dark"></a></li>
      <li><a href="#" class="bg-pattern-grey_wash_wall"></a></li>
      <li><a href="#" class="bg-pattern-retina_wood"></a></li>
    </ul>
  </div> <!-- /themeOptions -->

</div> <!-- /switcher -->